{{!-- Styleable, selectable elements: 
    event-item:     any row of the event listing (div) (title excepted) 
    event-text:     actual text content of an event-item (span, OR p for address) 
    event-date, event-link, event-address, event-description: 
                    each what they sound like
    event-address-line:
                    individual line within address text event-input: input element, should have display: none; by default
    event-edit:     div for event edit buttons/link
    event-button:   edit/ok/cancel buttons
    event-edit-btn:     button for user to edit description
    event-edit-cancel:  button to cancel edit, should be display:none by default
    event-edit-ok:      button to submit edit, should be display:none by default

    Required object: {
        name: string,
        datestring: string,
        link: string,
        addressLines: string[2],
        descriptionLines: string[],
        descriptionText: string,
        canEdit: boolean,
    }                    
--}}

<h3 class='event-title'>
    <input type="hidden" id='event-input-id' value={{id}}>
    <span class='event-text'>
        {{name}}
    </span>
    <input class='event-input' id='event-input-title' value="{{name}}">
</h3>
<div class='event-date event-item'>
    <span class='event-text'>
        {{datestring}}
    </span>
    <input class='event-input' type='datetime-local' id='event-input-date' value="{{date}}">
</div>
<div class='event-item event-link'>
    <span class='event-text'>
        {{link}}
    </span>
    <input class='event-input' id='event-input-link' value="{{link}}">
</div>
<div class='event-item event-address'>
    <p class='event-text'>{{address1}}<br>{{address2}}<br>{{city}}, {{state}} {{zip}}</p>
    <input class='event-input' id='event-input-address-1' value="{{address1}}"><br>
    <input class='event-input' id='event-input-address-2' value="{{address2}}"><br>
    <input class='event-input' id='event-input-city' value="{{city}}">
    <input class='event-input' id='event-input-state' value="{{state}}">
    <input class='event-input' id='event-input-zip' value="{{zip}}"><br>
</div>
<div class='event-item event-description'>
    {{#each descriptionLines}}
        <p class='event-text'>{{this}}</p>
    {{/each}}
    <textarea class='event-input' id='event-input-description'>{{description}}</textarea>
</div>

{{#if owner}}
    <div class="event-edit">
        <button class="event-edit-btn">Edit Event Listing</button>
        <button class="event-edit-delete">Delete Event Listing</button>
        <button class="event-edit-cancel">Cancel</button>
        <button class="event-edit-ok">Submit</button>
    </div>
{{/if}}
