<!-- <p>This page is for the creation of new event entries.</p> !-->


<h1>Add an Event</h1>
<ul>
    {{#each events}}
    <li>
        <p>
            {{this.id}}. {{this.event}}
            <button data-eventid="{{this.id}}" class="delEvent">Delete</button>
        </p>
    </li>
    {{/each}}
</ul>
<h2></h2>
{{#if logged}}
<form id="addEvent" class="button-size uk-form">
    <label for="event-input-name">
        <p>Name</p>
        <input type="input" id="event-input-name">
    </label>
    <label for="event-input-datetime">
        <p>Date and time</p>
        <input type="datetime-local" id="event-input-datetime" data-uk-datepicker="{format:'DD.MM.YYYY'}" value="{{now}}">
    </label>
    <label for="event-input-address1">
        <p>Address</p>
        <input type="input" id="event-input-address1">
        <p>
            <input type="input" id="event-input-address2">
        </p>
    </label>
    <label for="event-input-city event-input-state event-input-zip">
        <p>City, State, Zip</p>
        <input type="input" id="event-input-city">
        <input type="input" id="event-input-state">
        <input type="input" id="event-input-zip">
    </label>
    <label for="event-input-link">
        <p>External link or contact (mailto:)</p>
        <input type="input" id="event-input-link">
    </label>
    <label for="event-input-description">
        <p>Description</p>
        <textarea type="text" id="event-input-description"></textarea>
    </label>

    <div>
        <button type="submit" id="event-input-submit">Save Event</button>
    </div>
</form>
{{else}}
<p>You need to be logged in to create an event listing.</p>
<p>
    <a href="/login">Log in</a>
</p>
{{/if}}

</form>