<div class="text-area-center container">

{{#if logged}}
    <a>
        <a href="/addEvent"><button>Add an Event</button></a>
    </p>
{{else}}
    <p>Log in to add an event listing.</p>
{{/if}}
<ul></ul>

{{#each events}}
<div class="events-container">
<li>
    <h2 class="headline" style='display: inline'>{{name}}</h2>
    <p>
        location: {{city}}, {{state}}
        <br> date: {{datestring}}
        <br>
        <a href='/eventDetails?id={{id}}'>Details</a>
    </p>
</li>
{{/each}}
</div>

</div>