<div class="text-area-center container">

<p>Here is where users can register. May not be necessary if we use oauth.</p>

<form>
    <label for='user-display-name'>
        <p>Display Name (required):</p>
        <input id='user-display-name' value="{{displayName}}">
    </label>
    <label for='user-first-name'>
        <p>First Name (optional):</p>
        <input id='user-first-name' value="{{firstName}}">
    </label>
    <label for='user-last-name'>
        <p>Last Name (optional):</p>
        <input id='user-last-name' value="{{lastName}}">
    </label>
    <label for='user-email'>
        <p>Email (optional):</p>
        <input id='user-email' value="{{email}}">
    </label>
    <label for='user-bio'>
        <p>Last Name (optional):</p>
        <textarea id='user-bio'>{{bio}}</textarea>
    </label>
    <button type='submit' id='new-user-submit'>Submit</button>
</form>

</div>